$primary-color-1-header : #3b81ea;
$primary-color-2-header : #4863e6;

page-login {
    .invalid {
        /*border: 1px solid #ea6153;*/
        color: #ea6153;
      }
}
.ion-page {
    background: #fff;
    font-family: "Roboto", sans-serif;
  }
  
  .login-header {
    height: 200px;
    box-sizing: border-box;
    padding: 50px 40px 15px;
    background: rgba(24, 157, 194, 0.8);
    background: -moz-linear-gradient(-45deg, $primary-color-1-header 0%, $primary-color-2-header 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, $primary-color-1-header), color-stop(100%, $primary-color-2-header));
    background: -webkit-linear-gradient(-45deg, $primary-color-1-header 0%, $primary-color-2-header 100%);
    background: -o-linear-gradient(-45deg, $primary-color-1-header 0%, $primary-color-2-header 100%);
    background: -ms-linear-gradient(-45deg, $primary-color-1-header 0%, $primary-color-2-header 100%);
    background: linear-gradient(135deg, $primary-color-1-header 0%, $primary-color-2-header 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#189dc2', endColorstr='#159844', GradientType=1);
  }
  
  .login-header .title {
    width: 100%;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    padding-top: 40px;
    float: left;
  }
  
  .custom-margin-login {
    margin-top: 200px;
  }
  
  .login-header .logo {
    // width: 114px;
    float: right;
  }
  
  .custom-margin-login {
    .fixed-content, .scroll-content {
      margin-top: 0 !important;
    }
  }
  
  .login-content {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    display: inline-block;
    font-family: "Roboto", sans-serif;
  
    .title {
      font-size: 45px;
    //   @extend .font-light;
      text-align: left;
      color: #fff;
    }
  
  }
  
  .login-content .title button.button-icon-question {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    top: 10px;
  }
  
  .custom-login-components .item-md {
    background: transparent;
  
  }
  
  .item-input ion-label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    // @include opacity(.6)
  }
  
  .custom-login-style {
    &.item-md.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 1px solid #efefef;
      font-size: 14px;
    }
    &.item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: #80bbdf;
      box-shadow: inset 0 -1px 0 0 #80bbdf;
    }
  
    &.login.list-md .item-input.input-has-focus:last-child {
      border-bottom-color: #80bbdf;
      box-shadow: inset 0 -1px 0 0 #80bbdf;
    }
  
    &.item-md.input-has-focus .label-md[floating], &.item-md.input-has-value .label-md[floating] {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
      font-size: 12px;
      color:  #80bbdf;;
    }
  
    &.item-md.item-input .input-has-focus .label-md[floating], &.item-md.input-has-value .label-md[floating] {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
      font-size: 12px;
      color:  #80bbdf;;
    }
  }
  
  .help-button {
    margin-top: 80px;
  }
  
  ion-item.item-block {
    padding-left: 0 !important;
  }
  
  ion-item.item-ios {
    padding-left: 0 !important;
  }
  
  a.button-text.create-new {
    font-size: 14px;
    font-weight: bold;
  }
  
  a.button-text.reset-pw {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    // @include opacity(.6);
  }
  
  .error{
      font-size: 10px;
      color: #ea6153;
  }
  
  .login-footer
  {
    font-size: 10px;
    color: dimgray;
    text-align: center;    
  }

  .loginButton{
      padding-top: 20%;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

